@import "src/assets/styles/components/home/Return.scss";

.start-game {
    color :#FBF5EF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}