@use "src/assets/styles/_base/_colors" as colors;
@import "src/assets/styles/components/home/PlayButton.scss";
@import "src/assets/styles/components/user/Logout.scss";

.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .homepage-logo {
    img {
      width: 300px;
    }
  }
}
