@use "src/assets/styles/_base/_colors" as colors;
@import "src/assets/styles/components/home/PlayButton.scss";

.posLogout{
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .homepage-logo {
    img {
      width: 300px;
    }
  }
}

