@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

.login-register-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 550px;
  z-index: 1;

  .flip-modal {
    width: 400px;
    height: 550px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    
    .flipper {
      width: 400px;
      height: 550px;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      &.flipped {
        transform: rotateY(180deg);
      }
      .modal {
        margin: 0;
        display: block;
        position: absolute;
        width: 400px;
        height: 550px;
        backface-visibility: hidden; 
        background-color: #FBF5EF;
        border-radius: 10px;
        text-align: center;

        input {
          background-color: white;
          border: none;
          border-radius: 25px;
          width: 70%;
          height: 30px;
          padding: 0 20px;
          margin: 10px;
        }

        button {
          background-color: rgb(0, 128, 0);
          border: 2px solid rgb(0, 101, 0);
          border-radius: 25px;
          width: 80%;
          height: 40px;
          padding: 0 20px;
          margin: 10px;
          font-family: Darumadrop One;
          font-size: 20px;
          color: rgb(255, 255, 255);
          box-shadow: 0px 6px 0px rgb(1, 101, 1);
          
          &:active {
            box-shadow: 0px 0px 0px rgb(1, 101, 1);
            transform: translateY(6px);
            transition: all 0.2s;
          }

          &#flip {
            color: rgba(141, 70, 5, 0.67);
            background-color: rgb(252, 180, 45);
            border: 2px solid rgb(189, 130, 22);
            box-shadow: 0px 6px 0px rgb(189, 130, 22);
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            margin: 20px 0;
          }
        }
      }
      .register-modal {
        transform: rotateY(180deg);
      }
    }
    .login-text,.register-text {
      font-family: Darumadrop One;
      font-size: 38px;
      color: rgba(141, 70, 5, 0.67);
    }
  }
  &.hidden {
    display: none;
  }
}