
$textColor: black;
$goldGradient: linear-gradient(103deg, #E2A916 24.25%, #E29A16 52.16%, rgba(188, 116, 14, 0.85) 80.75%, rgba(168, 97, 11, 0.78) 89.78%, rgba(141, 70, 5, 0.67) 95.35%), #E2A916;
$goldGradientHover: linear-gradient(283deg, #E2A916 24.25%, #E29A16 52.16%, rgba(188, 116, 14, 0.85) 80.75%, rgba(168, 97, 11, 0.78) 89.78%, rgba(141, 70, 5, 0.67) 95.35%), #E2A916;
$goldBorderGradient: linear-gradient(120.23deg, #8A5506 25.79%, #E29A16 50.48%, #E3A021 67.44%, #ECDB8B 76.66%);


$brownGradient:  radial-gradient(63.56% 63.56% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 55.31%, rgba(0, 0, 0, 0.33) 80.73%, rgba(0, 0, 0, 0.66) 100%), #321206;