@import 'src/assets/styles/_base/_colors';
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.gold-button {
  display: grid;
  border: none;
  margin: 20px 0;
  .gradient-border {
    justify-self: center;
    position: relative;
    height: 53px;
    border-radius: 5px;
    background: $goldBorderGradient;
    transition: 1s;
    .gradient-border-inner {
      background: $goldGradient;
      margin: auto;
      height: 50px;
      border-radius: 5px;
      
      .gold-button-text {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'East Sea Dokdo', sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 45px;
        text-align: center;
        background: linear-gradient(110deg, #E2A916 -39.18%, #ECDB8B 122.09%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #E2A916;
        padding: 0 20px;

      }
    }
    &:hover {
      cursor: pointer;
      .gradient-border-inner {
        background: $goldGradientHover;
        .play-button-text {
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
