@import 'src/assets/styles/_base/_colors';
@import 'src/assets/styles/pages/Room';
@import 'src/assets/styles/pages/HomePage';
@import 'src/assets/styles/components/room/UserInRoom';
@import 'src/assets/styles/components/user/LoginRegisterModal';
@import 'src/assets/styles/components/user/UserCenter';
@import 'src/assets/styles/pages/CreateRoom';
@import 'src/assets/styles/components/deck/Deck';


body, html, #root, .App {
  height:100%;
  width:100%;
  margin:0;
  position:absolute;
}

body {
  background: $brownGradient;
}

.no-underline{
  text-decoration-line: none;
}
